@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.products {
  @include page-width(0 1rem);
  padding-bottom: 3rem;
  @include tablet {
    @include page-width(0 2.25rem);
  }
  @include desktop {
    @include page-width(0 auto);
    width: 76.5rem;
  }
  &__heading {
    text-transform: capitalize;
    text-align: center;
    padding: 2.5rem 0 2rem 0;
    @include text(2rem, 600, 1.125rem, $primary-black);

    @include tablet {
      padding: 3.5rem 0 2.5rem 0;
      @include text(3rem, 600, 1.375rem, $primary-black);
    }
  }
  &__article {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 0 auto;
    width: 98%;
    @include tablet {
      grid-template-columns: auto auto auto;
      gap: 1.5rem;
      width: 90%;
    }
    @include desktop {
      grid-template-columns: auto auto auto auto;
    }
    &-card {
      border: 1px solid #4d4d4d24;
      overflow: hidden;

      &:hover {
        border: 1px solid #4d4d4d3d;
        box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.17);
      }
      &-link {
        text-decoration: none;
        &-container {
          overflow: hidden;

          &-image {
            width: 100%;
            object-fit: cover;
            height: 27vh;
            @include tablet {
              height: 40vh;
            }
            @include desktop {
              height: 45vh;
            }
            &:hover {
              transform: scale(1.1);
              transition: transform 0.2s ease-in-out;
            }
          }
        }
        &-info {
          &-title {
            text-transform: capitalize;
            text-align: center;
            padding: 0.5rem 0;
            @include text(1rem, 400, 1.125rem, $primary-black);
            @include tablet {
              @include text(1.125rem, 400, 1.375rem, $primary-black);
            }
          }
          &-price {
            text-align: center;
            padding: 0.5rem 0;
            @include text(1rem, 600, 1.125rem, $secondary-gold);
            @include tablet {
              @include text(1.125rem, 600, 1.375rem, $secondary-gold);
            }
          }
        }
      }
    }
  }
}
