@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf"),
    url("../../assets/font/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf"),
    url("../../assets/font/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf"),
    url("../../assets/font/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
