@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  &__hero {
    &-img {
      width: 100vw;
    }
  }
  &__story {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    @include tablet {
      padding-top: 2.5rem;

      padding-bottom: 3rem;
      width: 70vw;
    }
    @include desktop {
      width: 65vw;
    }

    &-heading {
      @include text(2rem, 700, 1.125rem, $primary-black);
      padding: 1.5rem 0 1rem 0;
      @include tablet {
        padding: 2rem 0 1.5rem 0;

        @include text(3rem, 700, 1.375rem, $primary-black);
      }
    }
    &-text {
      padding: 0.5rem 0;
      @include text(1rem, 400, 1.125rem, $primary-black);
      @include tablet {
        @include text(1.125rem, 400, 1.475rem, $primary-black);
      }
    }
  }
  &__products {
    background-image: url(../../assets/images/main-page-mobile.png);
    background-size: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @include tablet {
      height: 50vh;

      background-image: url(../../assets/images/main-page-tablet.png);
    }
    &-overlay {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include tablet {
        top: 50%;
      }
      &-link {
        text-align: center;
        &-heading {
          @include text(1.75rem, 600, 2rem, $primary-white);
          @include tablet {
            @include text(3rem, 600, 3rem, $secondary-gold);
          }
        }
        &-text {
          padding-top: 1rem;
          @include text(1rem, 400, 1.125rem, $primary-white);
          @include tablet {
            @include text(1.125rem, 400, 1.375rem, $primary-black);
          }
        }
      }
    }
  }
}
