@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.aside {
  @include page-width(0 1rem);
  padding-bottom: 3rem;
  @include tablet {
    @include page-width(0 2.25rem);
  }
  @include desktop {
    @include page-width(0 auto);
    width: 76.5rem;
  }
  &__heading {
    text-align: center;
    padding: 2.5rem 0 1rem 0;
    @include text(1.75rem, 600, 2rem, $primary-black);

    @include tablet {
      padding: 3rem 0 1.5rem 0;
      @include text(3rem, 600, 3rem, $primary-black);
    }
  }
  &__carousel {
    &-card {
      width: auto;
      border: 1px solid #4d4d4d24;
      &:hover {
        border: 1px solid #4d4d4d3d;
        box-shadow: 5px 5px 10px rgba(83, 75, 75, 0.173);
      }
      &-link {
        &-image {
          height: 40vh;
        }
        &-info {
          &-title {
            padding: 0.5rem 0;
            @include text(1rem, 400, 1.125rem, $primary-black);
            @include tablet {
              @include text(1.125rem, 400, 1.375rem, $primary-black);
            }
          }
          &-price {
            padding: 0.5rem 0;
            @include text(1rem, 400, 1.125rem, $primary-black);
            @include tablet {
              @include text(1.125rem, 400, 1.375rem, $primary-black);
            }
          }
        }
      }
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: black;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
