@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  background-color: $primary-white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.111);

  &__wrapper {
    @include page-width(0 1rem);
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    @include tablet {
      padding: 2rem 0 1.5rem 0;

      gap: 2.5rem;
      @include page-width(0 2.25rem);
    }
    @include desktop {
      @include page-width(0 auto);
      width: 76.5rem;
    }
    &-logo {
      order: 3;
      margin: 0 auto;
      &-img {
        height: 2rem;
        max-width: 50vw;
      }
      @include tablet {
        order: 1;
        margin: 0;
        height: 2.5rem;
      }
    }
    &-search {
      border: none;
      order: 2;
      background-color: #fff;
      &-img {
        width: 1.25rem;
        @include tablet {
          width: 1.5rem;
        }
      }
      @include tablet {
        order: 3;
      }
    }
    &-burger-menu {
      border: none;
      order: 1;
      background-color: #fff;
      @include tablet {
        display: none;
      }
      &-img {
        width: 1.25rem;
        @include tablet {
          width: 1.5rem;
        }
      }
    }
    &-nav {
      display: none;

      @include tablet {
        display: block;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        order: 2;
        gap: 1.5rem;
      }
      &-link {
        display: none;
        @include tablet {
          @include text(1.5rem, 400, 2.75rem, $primary-black);
          display: block;
        }
        &:active,
        &:hover {
          border-bottom: 2px solid $primary-black;
        }
      }
    }
    &-profile {
      order: 4;
      &-img {
        width: 1.25rem;
        @include tablet {
          width: 1.5rem;
        }
      }
    }
    &-cart {
      order: 5;
      &-img {
        width: 1.25rem;
        @include tablet {
          width: 1.5rem;
        }
      }
    }
  }
}
