@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  background: rgb(33, 33, 33);
  background: linear-gradient(
    360deg,
    rgba(33, 33, 33, 1) 23%,
    rgba(77, 77, 77, 1) 66%
  );
  padding-bottom: 1rem;
  &__signUp {
    &-wrapper {
      @include page-width(0 1rem);

      @include tablet {
        @include page-width(0 2.25rem);
      }
      @include desktop {
        @include page-width(0 auto);
        width: 76.5rem;
      }

      &-heading {
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        @include text(1.5rem, 700, 1.125rem, $primary-white);
        @include tablet {
          padding-bottom: 2.5rem;
          padding-top: 3.25rem;
          @include text(2.0625rem, 700, 1.375rem, $primary-white);
        }
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-bottom: 1.5rem;
        @include tablet {
          flex-direction: row;
          justify-content: center;
        }
        &-input {
          border-radius: 0.25rem;
          max-width: 16rem;
          @include text(0.75rem, 600, 1.25rem, $primary-black);
          padding: 0.25rem 0.5rem;
          margin: 0 auto;
          @include tablet {
            margin: 0;
            width: 16rem;
          }
        }
        &-button {
          border-radius: 0.25rem;
          border: 0px;
          width: fit-content;
          text-transform: uppercase;
          background-color: $primary-white;
          margin: 0 auto;
          @include text(0.75rem, 700, 1.25rem, $primary-black);
          padding: 0.25rem 0.5rem;
          @include tablet {
            margin: 0;
          }
          &:hover,
          :active,
          :focus {
            box-shadow: 6px 5px 5px 0 #ffffff34;
          }
        }
      }
    }
  }
  &__links {
    padding: 1.5rem;
    @include tablet {
      padding-top: 2.25rem;
    }
    &-wrapper {
      justify-content: center;

      @include page-width(0 1rem);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      @include tablet {
        gap: 1.5rem;
        @include page-width(0 2.25rem);
      }
      @include desktop {
        @include page-width(0 auto);
        width: 76.5rem;
      }
      &-list {
        &-link {
          @include text(1.125rem, 400, 1.25rem, $primary-white);

          &:active,
          &:hover {
            @include text(1.125rem, 600, 1.25rem, $primary-white);

            border-bottom: 2px solid $primary-white;
          }
        }
      }
    }
  }
}
